/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* Timer */

.input-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.2s;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover {
  border-color: #000;
}

input:focus {
  outline: none;
  border-color: #4e75ff;
  color: #000;
}

input:disabled {
  background-color: #fafafa;
  color: #808080;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;

  background: #4e75ff;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  color: #989898;
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.timer {
  border: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;

  width: 346px;
  height: 72px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}


/* Snackbar */

.main-title {
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
  align-items: flex-start;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 16px;
  color: #2e2f42;
}

.form input[name='delay'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

.form input[name='delay']:hover,
.form fieldset:hover,
.form fieldset:focus {
  border-color: #000;
}

.form input[name='delay']:focus {
  border-color: #4e75ff;
  font-size: 16px;
  color: #2e2f42;
}

.form button {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  color: #fff;

  transition: background-color 0.2s;
}

.form button:hover {
  background-color: #6c8cff;
}

.form fieldset {
  box-sizing: border-box;
  width: 360px;
  height: 64px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 24px 48px 8px 48px;
  margin: 0;

  display: flex;
  align-items: center;
  gap: 48px;

  position: relative;
}

.form legend {
  font-size: 16px;
  color: #2e2f42;
  padding: 0 4px;

  position: absolute;
  top: -14px;
  left: 16px;
  background: #fff;
}

.radio-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.radio-box label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  color: #2e2f42;
}

.radio-box input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 1px solid #757575;
  border-radius: 50%;
}